body {
    background-image: url(gym.jpg);
    background-size: 1000px;
    background-repeat: no-repeat;
}
h2{
    font-size: 200%;
    font-family: Verdana;
    color:black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
p{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h1 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#jack
{
    width: 100px;
    height: 150px;
}
#circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%
  }
